In [5]:
import pandas as pd

df = pd.read_csv("data/caged_saldo_secao.csv", sep=";", encoding="latin1")

In [6]:
df.head()

    ano                             cnae_2_descricao_secao  saldo_movimentacao
0  2015  Administração Pública, Defesa E Seguridade Social               -5549
1  2023  Atividades Administrativas E Serviços Compleme...               -5097
2  2017  Administração Pública, Defesa E Seguridade Social               -3544
3  2018  Administração Pública, Defesa E Seguridade Social               -2554
4  2009                        Indústrias De Transformação               -2473